* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: black;
  --text-color: #dcdcdc;
  --bg-pure: white;
}
body {
  font-family: "Poppins";
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0.0625rem;
  top: 0.0625rem;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: gray;
  position: absolute;
  top: 4px;
  left: 4px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.container1 {
  max-width: 1000px !important;
}
.design {
  color: red;
}
.h6 {
  color: #000000;
  font-weight: 600;
}
.row1 {
  background-color: var(--bg-color);
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg__black {
  background-color: #000000;
}
form {
  padding-top: 50px;
}
/* progress__bar */
.progress__bar {
  position: relative;
  justify-content: space-between;
  align-items: center;
  counter-reset: step;
  margin: 1.125rem;
}
.progress__bar:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dcdcdc;
}
.progress__step::after {
  content: attr(data-title);
  position: absolute;
  top: 50px;
  color: #dcdcdc;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins";
}
.progress__step::before {
  counter-increment: step;
  content: counter(step);
}
.progress__step {
  width: 2.1875rem;
  height: 2.1875rem;
  background: #dcdcdc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.only-mobile {
  display: none;
}
@media (max-width: 480px) {
  .desktop-only {
    display: none;
  }
  .only-mobile {
    display: block;
    margin: 20px 0;
  }
}
@media (min-width: 480px) and (max-width: 990px) {
  .desktop-only {
    display: none;
  }
}
